<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bailey.mobile.squadup">



    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:theme="@style/MyCustomTheme">

        <activity android:name="com.example.michaelli.squadup.GameHistory">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.michaelli.squadup.Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name="com.example.michaelli.squadup.CourtActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape">

        </activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
